@charset "UTF-8";
/*
em HTML é id = em CSS é #
em HTML é class = em CSS é.
*/
body {
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color: rgb(49, 44, 38);
}

h1#principal{
    text-align: center;
    background-color: azure;
    color: antiquewhite;
}

h2 {
    color: black;
}

.basico {
color: aqua;
}

.intermediario {
color: aquamarine;
}

.avançado {
color: blue;
}